<a href="https://colab.research.google.com/github/AYUSH-11/Machine-Learning/blob/main/Heart_attack_possibility_Using_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#All mathematical operation are done by numpy
import numpy as np
#It is used for ploting 
import matplotlib.pyplot as plt
# for read all files
import pandas as pd
import math
import random
from google.colab import drive  #to import Google drive data
drive.mount('/content/drive') #to the drive data into colab cloud and enter the activation colab

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
cd /content/drive/"My Drive/Colab Notebooks/Linear Regression"

/content/drive/My Drive/Colab Notebooks/Linear Regression

In [3]:
dataset = pd.read_csv('heart.csv')

In [4]:
dataset.head(5)

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [5]:
dataset.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [6]:
dataset.shape

(303, 14)

In [7]:
#Shuffle DataFrame rows

dataset =dataset.sample(frac=1)

In [8]:
# split data into two parts training and testing 
train_set = dataset.sample(frac=0.833,random_state=0)
test_set = dataset.drop(train_set.index)

In [9]:
train_set.shape

(252, 14)

In [10]:
test_set.shape

(51, 14)

In [11]:
train_set.head(5)

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
101   59    1   3       178   270    0  ...      0      4.2      0   0     3       1
131   49    0   1       134   271    0  ...      0      0.0      1   0     2       1
141   43    1   0       115   303    0  ...      0      1.2      1   0     2       1
278   58    0   1       136   319    1  ...      0      0.0      2   2     2       0
205   52    1   0       128   255    0  ...      1      0.0      2   1     3       0

[5 rows x 14 columns]

In [12]:
# bipartion in feature and target
train_set_feature = train_set.values[:,:-1]
train_set_target = train_set.values[:,-1:]
test_set_feature = test_set.values[:,:-1]
test_set_target = test_set.values[:,-1:]

In [13]:
# Finding Eucledian Distance
def euclidean_distance(x,y):
    distance = 0.0
    for i in range(len(x)):
        distance+= (x[i]-y[i])**2
    return math.sqrt(distance)

In [14]:
#predict The Target
def predict_target(features,target,test,k):
    distance=[]
    for i in range(len(features)):
        
        distance.append([euclidean_distance(features[i],test),target[i]])
    distance.sort()

    identify=[0,0]
    for i in range(k):
        identify[int(distance[i][1])]+=1
    return identify.index(max(identify))

In [15]:
n1,n2 = train_set_feature.shape[0],test_set_feature.shape[0]
print(n1,n2)

252 51

In [16]:
confusion_matrix=[[0,0],[0,0]]
for i in range(n1):
    prediction= predict_target(train_set_feature,train_set_target,train_set_feature[i],3)
    actual = int(train_set_target[i])
    x = (actual-1)**2
    y = (prediction-1)**2
    confusion_matrix[x][y]+=1
#Confusion Matrix
for i in range(2):
    for j in range(2):
        print(confusion_matrix[i][j],end=' ')
    print()
#Accuracy = (TP + TN) /(TP + FP + TN + FN)
accuracy = (confusion_matrix[0][0]+confusion_matrix[1][1])/n1

#Precision = TP / (TP + FP)
precision = confusion_matrix[0][0]/(confusion_matrix[0][0]+confusion_matrix[0][1])

#Recall = TP / (TP + FN)
recall = confusion_matrix[0][0]/(confusion_matrix[0][0]+confusion_matrix[1][0])

#F1 Score = 2 * (Precision * Recall)/(Precision + Recall )
f1_score = 2 * (precision * recall)/(precision + recall)

print("Accuracy = ",accuracy)
print("Prediction = ",precision)
print("Recall = ",recall)
print("F1 Score = ",f1_score)

111 26
28 87
Accuracy =  0.7857142857142857
Prediction =  0.8102189781021898
Recall =  0.7985611510791367
F1 Score =  0.8043478260869567

In [17]:
k= [3,5,7,9,11]
for ki in range(len(k)):
    print("********** For K =",k[ki]," **********")
    confusion_matrix=[[0,0],[0,0]]
    for i in range(n2):
        prediction= predict_target(test_set_feature,test_set_target,test_set_feature[i],k[ki])
        actual = int(test_set_target[i])
        x = (actual-1)**2
        y = (prediction-1)**2
        confusion_matrix[x][y]+=1
    #Confusion Matrix
    for i in range(2):
        for j in range(2):
            print(confusion_matrix[i][j],end=' ')
        print()
    #Accuracy = (TP + TN) /(TP + FP + TN + FN)
    accuracy = (confusion_matrix[0][0]+confusion_matrix[1][1])/n2

    #Precision = TP / (TP + FP)
    precision = confusion_matrix[0][0]/(confusion_matrix[0][0]+confusion_matrix[0][1])

    #Recall = TP / (TP + FN)
    recall = confusion_matrix[0][0]/(confusion_matrix[0][0]+confusion_matrix[1][0])

    #F1 Score = 2 * (Precision * Recall)/(Precision + Recall )
    f1_score = 2 * (precision * recall)/(precision + recall)

    print("Accuracy = ",accuracy)
    print("Prediction = ",precision)
    print("Recall = ",recall)
    print("F1 Score = ",f1_score)
    print()
    print()

********** For K = 3  **********
24 4
6 17
Accuracy =  0.803921568627451
Prediction =  0.8571428571428571
Recall =  0.8
F1 Score =  0.8275862068965518


********** For K = 5  **********
24 4
9 14
Accuracy =  0.7450980392156863
Prediction =  0.8571428571428571
Recall =  0.7272727272727273
F1 Score =  0.7868852459016394


********** For K = 7  **********
21 7
9 14
Accuracy =  0.6862745098039216
Prediction =  0.75
Recall =  0.7
F1 Score =  0.7241379310344827


********** For K = 9  **********
21 7
8 15
Accuracy =  0.7058823529411765
Prediction =  0.75
Recall =  0.7241379310344828
F1 Score =  0.736842105263158


********** For K = 11  **********
23 5
11 12
Accuracy =  0.6862745098039216
Prediction =  0.8214285714285714
Recall =  0.6764705882352942
F1 Score =  0.7419354838709677