<a href="https://colab.research.google.com/github/AYUSH-11/Machine-Learning/blob/main/Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#All mathematical operation are done by numpy
import numpy as np
#It is used for ploting 
import matplotlib.pyplot as plt
# for read all files
import pandas as pd

In [2]:
from google.colab import drive  #to import Google drive data
drive.mount('/content/drive') #to the drive data into colab cloud and enter the activation colab

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
cd /content/drive/"My Drive/Colab Notebooks/Linear Regression"

/content/drive/My Drive/Colab Notebooks/Linear Regression

In [4]:
dataset = pd.read_csv('temps.csv')

In [5]:
dataset.head(5)

   year  month  day  week  ...  forecast_noaa  forecast_acc  forecast_under  friend
0  2016      1    1   Fri  ...             43            50              44      29
1  2016      1    2   Sat  ...             41            50              44      61
2  2016      1    3   Sun  ...             43            46              47      56
3  2016      1    4   Mon  ...             44            48              46      53
4  2016      1    5  Tues  ...             46            46              46      41

[5 rows x 12 columns]

In [6]:
dataset.shape

(348, 12)

In [7]:
dataset.describe()

         year       month         day  ...  forecast_acc  forecast_under      friend
count   348.0  348.000000  348.000000  ...    348.000000      348.000000  348.000000
mean   2016.0    6.477011   15.514368  ...     62.373563       59.772989   60.034483
std       0.0    3.498380    8.772982  ...     10.549381       10.705256   15.626179
min    2016.0    1.000000    1.000000  ...     46.000000       44.000000   28.000000
25%    2016.0    3.000000    8.000000  ...     53.000000       50.000000   47.750000
50%    2016.0    6.000000   15.000000  ...     61.000000       58.000000   60.000000
75%    2016.0   10.000000   23.000000  ...     72.000000       69.000000   71.000000
max    2016.0   12.000000   31.000000  ...     82.000000       79.000000   95.000000

[8 rows x 11 columns]

In [8]:
dataset=pd.get_dummies(dataset)
dataset.head()

   year  month  day  temp_2  ...  week_Sun  week_Thurs  week_Tues  week_Wed
0  2016      1    1      45  ...         0           0          0         0
1  2016      1    2      44  ...         0           0          0         0
2  2016      1    3      45  ...         1           0          0         0
3  2016      1    4      44  ...         0           0          0         0
4  2016      1    5      41  ...         0           0          1         0

[5 rows x 18 columns]

In [9]:
dataset.shape

(348, 18)

In [10]:
labels = np.array(dataset['actual'])

In [11]:
dataset = dataset.drop('actual',axis=1)

In [12]:
dataset

     year  month  day  temp_2  ...  week_Sun  week_Thurs  week_Tues  week_Wed
0    2016      1    1      45  ...         0           0          0         0
1    2016      1    2      44  ...         0           0          0         0
2    2016      1    3      45  ...         1           0          0         0
3    2016      1    4      44  ...         0           0          0         0
4    2016      1    5      41  ...         0           0          1         0
..    ...    ...  ...     ...  ...       ...         ...        ...       ...
343  2016     12   27      42  ...         0           0          1         0
344  2016     12   28      42  ...         0           0          0         1
345  2016     12   29      47  ...         0           1          0         0
346  2016     12   30      48  ...         0           0          0         0
347  2016     12   31      48  ...         0           0          0         0

[348 rows x 17 columns]

In [13]:
dataset_list = list(dataset.columns)
dataset = np.array(dataset)

In [14]:
from sklearn.model_selection import train_test_split        #for split data

In [15]:
#split data into train and test set
train_dataset,test_dataset,train_labels,test_labels=train_test_split(dataset,labels,test_size=0.25,random_state=42)

In [16]:
test_labels.shape

(87,)

In [17]:
from sklearn.ensemble import RandomForestRegressor

In [18]:
#Generate a Model
rf = RandomForestRegressor(n_estimators=1000,random_state=4)

In [19]:
rf.fit(train_dataset,train_labels)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=4, verbose=0, warm_start=False)

In [20]:
# predict output on test data
predictions= rf.predict(test_dataset)

In [21]:
errors= abs(predictions-test_labels)

In [22]:
#Mean Absolute Percentage Error
mape =100*(errors/test_labels)

mean_error = np.mean(mape)

In [23]:
accuracy = 100-mean_error

In [24]:
accuracy

93.88973902416187

In [25]:
#for generate graph
from sklearn.tree import export_graphviz
import pydot

In [26]:
#export graph file
tree=rf.estimators_[5]
export_graphviz(tree,out_file='tree.dot',feature_names = dataset_list,rounded=True,precision=1)

In [27]:
# save grapg photo in google drive
(graph,)=pydot.graph_from_dot_file('tree.dot')
graph.write_png('tree.png')